{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <h1>Récapitulatif de ma commande</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="bg-light-blue p-3">

                    <strong>Contenu de mon panier<br/></strong>
                    {% for product in cart %}
                        <div class="row mt-2">
                            <div class="col-md-2">
                                <img src="/uploads/{{product.objet.illustration}}" alt="{{ product.objet.name }}" class="img-fluid">
                            </div>
                            <div class="col-md-4">
                                <strong>{{ product.objet.name }}</strong>
                                <span class="d-block small">Prix unitaire : {{ product.objet.pricewt|price }}</span>
                            </div>
                            <div class="col-md-2 text-right">
                                <span class="badge bg-secondary"> x{{ product.quantity }}</span>
                            </div>
                            <div class="col-md-4">
                                <strong>{{ (product.quantity*product.objet.pricewt)|price}}</strong>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="bg-light-blue p-3 my-3">
                    <strong>Votre adresse de livraison</strong><br/>
                    {{ choices.adresses.firstname }} {{ choices.adresses.lastname }}<br/>
                    {{ choices.adresses.adresse }}<br/>
                    {{ choices.adresses.postal }}, {{ choices.adresses.city }} - {{ choices.adresses.country }} <br/>

                    {#{{ choices.adresses.phone }} #}
                </div>


                <div class="bg-light p-3">
                    <strong>Votre transporteur</strong><br/>
                    {{ choices.carriers.name }}<br/>
                    {{ choices.carriers.description }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-light p-3">
                    <div class="d-flex justify-content-between">
                        <span CLASS="fw-bold">Total Produit :</span>
                        <span>{{ fullCartQuantity}}</span>

                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <span class="fw-bold">Total transporteur :</span>
                        <span>{{ choices.carriers.price|price }}</span>
                    </div>

                    <div class="d-flex justify-content-between mt-2">
                        <span class="fw-bold">Total à payer :</span>
                        <span>{{ (totalwt + choices.carriers.price)|price }}</span>
                    </div>

                    <div>
                        <a class="btn btn-success w-100 mt-3" href="{{ path('app_payment', {'id_order' : order.id}) }}">Payer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

