{% extends 'base.html.twig' %}

{% block body %}
<div class="min-h-screen flex justify-center px-4 py-10 bg-gray-50">
    <div class="w-full max-w-6xl bg-white p-6 rounded-lg shadow-md flex flex-col md:flex-row gap-8">
        
        <!-- Colonne gauche : titre + menu -->
        <div class="md:w-1/4 w-full">
            <h1 class="text-3xl font-bold mb-6 text-center md:text-left">Espace Client</h1>
            <div class="md:block flex justify-center">
                {% include 'account/_menu.html.twig' %}
            </div>
        </div>

        <!-- Colonne droite : contenu principal -->
        <div class="md:w-3/4 w-full bg-red mb-auto rounded-2xl p-2">
            <h5 class="text-xl font-bold mb-4 text-center md:text-left">Mes adresses</h5>

            {{ form_start(adresseForm) }}

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>{{ form_row(adresseForm.firstname) }}</div>
                <div>{{ form_row(adresseForm.lastname) }}</div>
                <div class="md:col-span-2">{{ form_row(adresseForm.adresse) }}</div>
                <div>{{ form_row(adresseForm.postal) }}</div>
                <div>{{ form_row(adresseForm.city) }}</div>
                <div>{{ form_row(adresseForm.country) }}</div>
                <div>{{ form_row(adresseForm.phone) }}</div>
            </div>

            {{ form_end(adresseForm) }}
        </div>
    </div>
</div>
{% endblock %}
